body{
    font-family: Verdana;
    overflow-x: hidden;
    text-align: center;
    word-wrap: break-word;
    font-size: 150%;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: auto;
}

.mainpage{
    background: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p{
}

iframe{
    width: 50vw;
    height: 50vh;
}